# Global
/VS-BUILD.opensdf
/VS-BUILD.sdf
/*.exe
/*.suo

# libconfig
/Build/3rdparty/libconfig/*.o
/Build/3rdparty/libconfig/Makefile

# mt19937ar
/Build/3rdparty/mt19937ar/*.o
/Build/3rdparty/mt19937ar/Makefile

#char
/Build/source/char/obj_sql
/Build/source/char/Makefile

# common
/Build/source/common/obj_all
/Build/source/common/obj_sql
/Build/source/common/Makefile
/Build/source/common/sysinfo.inc

# login/
/Build/source/login/obj_sql
/Build/source/login/Makefile

# map/
/Build/source/map/obj_sql
/Build/source/map/Makefile

# vs-proj/
/Build/vs-proj/Output/*.pdb
/Build/vs-proj/Output/char-server
/Build/vs-proj/Output/login-server
/Build/vs-proj/Output/map-server
